<div class="modalAdd" *ngIf="showCreateModal$ | async">
  <form #createForm="ngForm">
  <div class="content">
    <h1>Criar nova Tarefa</h1>

    <label>Nome</label>
    <input id="name" type="text" [(ngModel)]="name" name="name" autocomplete="off" maxlength="15" pattern="[A-z]{4,15}" />

    <label>Descrição</label>
    <input id="description" [(ngModel)]="description" name="description" type="text"  autocomplete="off" pattern="[A-z]{4,15}" />

    <label>Data de Término</label>
    <input id="endDate" [(ngModel)]="endDate" name="endDate" type="date" />

    <label>Horário de Término</label>
    <input id="endTime" [(ngModel)]="endTime" name="endTime"  type="time" />

    <label>Prioridade</label>
    <input placeholder="Precisa ser um numeral" id="priority" [(ngModel)]="priority" name="priority"  type="text" min="1" max="5" />

    <label>Categoria</label>
    <input id="category" [(ngModel)]="category" name="category"  type="text" maxlength="15" pattern="[A-z]{4,15}" />

    <label>Status</label>
    <select id="status" [(ngModel)]="status" name="status" >
      <option value="todo">todo</option>
      <option value="doing">doing</option>
      <option value="done">done</option>
    </select>
    <br>
    <button class="addTodo" type="submit" (click)="createTask(createForm)">Adicionar</button>
    <small>(Para cancelar pressione Esc)</small>

  </div>
  </form>
</div>

<div class="modalEdt" *ngIf="showEditModal$ | async">
  <form #editForm="ngForm">
  <div class="content" *ngIf="task$ | async">
    <h1>Editar Tarefa</h1>

    <label>Nome</label>
    <input id="editName" [(ngModel)]="task.name" name="name"  type="text" disabled maxlength="15" pattern="[A-z]{4,15}" />
    <pre>{{task$.id}}</pre>
    <label>Descrição</label>
    <input id="editDescription" [(ngModel)]="task.description" name="description" type="text" autocomplete="off" pattern="[A-z]{4,15}" />

    <label>Data de Término</label>
    <input id="editendDate" [(ngModel)]="task.endDate" name="endDate" type="text" />

    <label>Horário de Término</label>
    <input id="editendTime" type="time" [(ngModel)]="task.endTime" name="endTime"/>

    <label>Prioridade</label>
    <input placeholder="Precisa ser um numeral" [(ngModel)]="task.priority" name="priority" id="editpriority" type="number" min="1" max="5" />

    <label>Categoria</label>
    <input id="editcategory" [(ngModel)]="task.category" name="category" type="text" maxlength="15" pattern="[A-z]{4,15}" />

    <label>Status</label>
    <select id="editStatus" [(ngModel)]="task.status" name="status">
      <option value="todo">todo</option>
      <option value="doing">doing</option>
      <option value="done">done</option>
    </select>
    <br>
    <button class="edtTodo" type="submit" (click)="updateTask(editForm)">Editar</button>
    <small>(Para cancelar pressione Esc)</small>

  </div>
  </form>
</div>
